{% import "macros/image.html" as image %}
{% import "macros/summary.html" as summary %}
{% import "macros/info.html" as info %}

{% macro render(page, type="default") %}
<div class="card p-3 border-0">
  <div class="row g-5">
    {% set img = page.extra.image | default(value="") %}
    {% if img %}
    {% if img is not starting_with("/") %}
      {% set img = page.path~img %}
    {% endif %}
    <div class="col-md-4 d-flex align-items-center">
      <a href="{{page.permalink}}">
      {{image::render(
        src=get_url(path=img),
        alt=page.title
      )}}</a>
    </div>
    {% endif %}
    <div class="col-md-{% if img %}8{% else %}12{% endif %}">
      {{info::render(page=page)}}
      {% if type == "default" %}
      {{summary::render(page=page)}}
      {% endif %}
    </div>
  </div>
</div>
{% endmacro %}