{% import "macros/image.html" as image %}

{% macro render(person_slug) %}
  {% set person = get_page(path="people/"~person_slug~"/index.md") %}
  <div class="card my-5">
    <div class="row g-0">
      <div class="col-md-4 d-flex align-items-center">
        {{image::render(
          src=get_url(path="people/"~person_slug~"/"~person.extra.image),
          alt=person.title,
          extra="rounded-circle"
        )}}
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
            <a
              class="text-decoration-none text-reset"
              href="{{get_taxonomy_url(kind="people", name=person_slug)}}"
            >{{person.title}}</a>
          </h5>
          <p class="card-text">{{person.content | safe}}</p>
        </div>
      </div>
    </div>
  </div>
{% endmacro %}